# ----------------------------------------------------------------------
# ⚡ COMMON
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.iml

# ----------------------------------------------------------------------
# ⚡ GIT
# ----------------------------------------------------------------------
.gitignore
.gitconfig

# ----------------------------------------------------------------------
# ⚡ FLUTTER / DART
# ----------------------------------------------------------------------
**/build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Flutter Generated
/generated_plugin_registrant.dart

# ----------------------------------------------------------------------
# ⚡ ANDROID
# ----------------------------------------------------------------------
*.apk
*.aar
*.keystore
local.properties
android/.gradle/
android/app/build/

# ----------------------------------------------------------------------
# ⚡ iOS
# ----------------------------------------------------------------------
**/Pods/
**/podfile.lock
**/build/
*.xcworkspace
*.xcuserdata/
*.xcuserdatad/
*.xcuserstate

# ----------------------------------------------------------------------
# ⚡ JAVA / SPRING BOOT
# ----------------------------------------------------------------------
target/
out/
*.class
*.war
*.jar
*.project
*.classpath
*.settings/

# Spring
application-local.yml
application-dev.yml
application-test.yml
application-*.properties

# Logs
logs/
*.log

# ----------------------------------------------------------------------
# ⚡ MAVEN / GRADLE
# ----------------------------------------------------------------------
.mvn/
.mvnd/
.gradle/
gradle-app.setting
**/build/

# ----------------------------------------------------------------------
# ⚡ NODE / REACT / VUE
# ----------------------------------------------------------------------
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------------------------------------
# ⚡ PYTHON
# ----------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
build/
develop-eggs/
.eggs/
*.egg-info/

# ----------------------------------------------------------------------
# ⚡ JUPYTER NOTEBOOK
# ----------------------------------------------------------------------
.ipynb_checkpoints/

# ----------------------------------------------------------------------
# ⚡ DOCKER
# ----------------------------------------------------------------------
docker-data/
*.pid

# ----------------------------------------------------------------------
# ⚡ OTHER COMMON
# ----------------------------------------------------------------------
.env
.env.*
*.swp
*.lock
*.bak

# IntelliJ / JetBrains IDE 프로젝트 설정 무시
.idea/

google-services.json
firebase-account.json