body {
    margin: 0;
    padding: 0;
    background-color: #FFF8D6; /* 연한 크림색 */
    font-family: 'Pretendard', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 380px;
    background: white;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.logo-container {
    margin-bottom: 10px;
}

.logo-icon {
    width: 70px;
    opacity: 0.85;
}

.title {
    margin: 5px 0;
    font-size: 28px;
    font-weight: 700;
    color: #6A3E2F; /* 진한 갈색 */
}

.subtitle {
    font-size: 13px;
    color: #9C7A6A;
    margin-bottom: 30px;
}

.input-box {
    width: 100%;
    text-align: left;
    margin-bottom: 18px;
}

.input-label {
    font-size: 13px;
    color: #6A3E2F;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #F4F2EE;
    font-size: 15px;
}

.register-btn {
    width: 100%;
    padding: 13px;
    background-color: #814A32;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}

.back-btn {
    width: 100%;
    padding: 13px;
    background-color: #C6B7A5;
    color: white;
    font-size: 15px;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}
